body {
    background-color: #d5d5d4;
}
p {
    text-align: justify;
    text-indent: 50px;        
    font-family: 'Cormorant Garamond', serif;
    font-size: 16pt;
}
h1, h2 {
    color: #444c4a;
    font-family: 'Cinzel', serif;
}