* {
	margin: 0px;
}

body {
	background: url("./images/suabiaalva.jpg") no-repeat fixed;
	background-size: cover;
	width: 100vw;
	overflow-x: hidden;
	display: flex;
	flex-flow: column;
	align-items: center;
}

header {
	width: 100vw;
	display: flex;
	justify-content: center;
	padding: 2vw;
}

header > img {
	width: 15vw;
}

.background-text {
	background-color: #ffffff;
	max-width: 65vw;
	padding: 4vw;
	border-radius: 2.5vw;
}

h1,
h2 {
	color: #444c4a;
	font: 2vw "Cinzel", serif;
}

p {
	text-align: justify;
	text-indent: 5vw;
	font: 1.6vw "Cormorant Garamond", serif;
}

/* @media (max-width: 1000px) {
	.background-text {
		display: block;
		max-width: 100vw;
		margin-top: 10px;
	}
	p,
	blockquote {
		font-size: 1rem;
	}
	h1,
	h2 {
		font-size: 0.9rem;
	}
} */
